<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicle maintenance reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JwRy/HvmUVaqp+0qcjosKAJkp4WVtFYmQNhOgfgkv/5L4g5JEJ9VzA4W195Zql83" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-B7yaWiH6i+xVp+ISmXD+bI918y8P2qACG9zXJdgyCkEaxWW1aGWoU7zJCUfhBv2w" crossorigin="anonymous"></script>
</head>
<body>
<h1>您的爱车</h1>
</body>
</html>
